<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Some Website</title>
</head>
<body>
	<h1>Website is maintenance, come back in few minutes</h1>
	<p>This site is currently being updated.</p>
</body>
</html>